<div class="hero-content">
  <div class="target">
    Start
  </div>

  <button type="button" id="next-btn">
    Next
  </button>
</div>

<script>
  $(document).ready(function() {
    var wordGenerator = new window.WordGenerator();
    wordGenerator.initialize(<%= @generator.to_json.html_safe %>);
  });
</script>
